ul {
  list-style-type: none;
}
li {
  margin: 2px 0;
}
.profile-sections {
  display: flex;
  justify-content: center;
}
.profile-section {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 0 5px;
}
